<h1>Register</h1>
    <form action="/accounts/register" method="post">
        <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="johndoe"></input><br><br>

        <label for="email">Email</label><br>
        <input type="email" name="email" placeholder="johndoe@provider.com"></input><br><br>

        <label for="password">Password</label><br>
        <input type="password" name="password"></input><br><br>

        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="John Doe"></input><br><br>

        <label for="address">Address</label><br>
        <input type="text" name="address" placeholder="Address 123, City"></input><br><br>

        <label for="age">Age</label><br>
        <input type="number" name="age"></input><br><br>

        <label for="phone_number">Phone Number</label><br>
        <input type="tel" name="phone_number" placeholder="+XX-XXX-XXXX-XXXX"></input><br><br>

        <button type="submit" name="submit"> Register </button>
    </form>