<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="home.js" defer></script>

        <style>
        table, th, td {
        border:1px solid black;
        }
        img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        </style>
    </head>
    <body>
        <section>
        <div>
            <button type="button" onclick=window.location='/'>Home</button>
            <button type="button" onclick=window.location='/accounts/logout'>Log out</button>
            <button type="button" onclick=window.location='/accounts/profile'>Profile</button>            
            <button type="button" onclick=window.location='/carritos/micarrito'>Cart</button>
            <button type="button" onclick=window.location='/compras'>Buy History</button>

            <div class="username"></div>
            <script id="username" type="text/x-handlebars-template">
                <h1> Welcome, {{name}}</h1>
            </script>

        </div>
        </section>

<iframe name="dummyframe" id="dummyframe" style="display:none"></iframe>
        <section class="input-products">
            <hr>
            <h1>Create a product</h1>
            <form id='newProductForm' action="/" method="post" target="dummyframe" enctype="application/x-www-form-urlencoded">
                <label for="nombre">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="precio">Price:</label><br>
                <input type="number" id="price" name="price" required><br><br>

                <label for="thumbnail">Thumbnail:</label><br>
                <input type="text" id="thumbnail" name="thumbnail" required><br><br>

                <input class="createProductBtn" type="submit" value="Submit" onclick='this.form.submit();document.forms["newProductForm"].reset();'>
            </form>
            <hr>
        </section>


        <section class="list-products">

            <!-- Un script que me voy a traer para convertir en template e inyectar. Fetch me estaba tratando mal pero esto funciona-->
            <script id="list-products" type="text/x-handlebars-template">
                <table>
                    <tr>
                        <th>id</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Thumbnail</th>
                        <th>Acciones</th>
                    </tr>
                    {{#each data}}
                        <tr><td>{{ this._id }}</td>
                            <td>{{this.name}}</td>
                            <td>${{this.price}}</td>
                            <td><img src={{this.thumbnail}}></td>
                            <td><button onclick="window.location='/carritos/add/{{ this._id }}'">Agregar al carrito</button></td>
                        </tr>
                    {{/each}}    
                </table>
            </script>
        </section>
    </body>
</html>